table {
    border-collapse: collapse; margin: 20px auto;
}

th, td {
    border: 1px solid #333; padding: 10px; text-align: center;
}

img {
    width: 70px;
}

button {
    margin: 15px auto; display: block; padding: 8px 16px;
}